@model IEnumerable<ASSET.Models.Master.AssetGroup>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="margin-bottom-10">
	<p>
		<a asp-action="Create" class="btn btn-info" role="button">Create New</a>
	</p>
</div>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Code)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.AssetId)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CreateBy)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CreateDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UpdateBy)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UpdateDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IsActive)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IsDelete)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Code)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.AssetId)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CreateBy)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CreateDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.UpdateBy)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.UpdateDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.IsActive)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.IsDelete)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.AssetGroupId">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.AssetGroupId">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.AssetGroupId">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
